
.homePage {
  padding: 2rem 0;
}

.postsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .postsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}